* {
  padding: 0px;
  margin: 0px;
}

.open {
  display: flex !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  padding: 0 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.book-now {
  display: none;
}

.logo-header {
  position: sticky;
  left: 146px;
  margin-right: 150px;
}

.nav {
  display: flex;
  width: 500px;
  padding: 0 40px;
}

.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 16px;
}

.nav a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
  transition: all .05s ease-in-out;
}

.nav a:hover {
  opacity: 1;
}

.header-button {
  background-color: #5B6460;
  color: #fff;
  text-decoration: none;
  position: sticky;
  padding: 20px 60px;
  right: 40px;
}

.header-button:hover {
  background-color: #3B423F;
}

.logo-denmark {
  position: sticky;
  vertical-align: top;
  width: 20px;
  height: 20px;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: black;
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.page-title {
  text-align: center;
}

.slider-container {
  position: relative;
  height: 50vw;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  height: 50vw;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  bottom: 5vw;
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  margin-left: 44vw;
  margin-right: 44vw;
  opacity: 0.7;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover {
  opacity: 1;
}

.next-button:hover {
  opacity: 1;
}

.text-slider {
  position: absolute;
  height: 72px;
  right: 4vw;
  top: 7vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 5vw;
  line-height: 5vw;
  text-align: right;
  color: white;
}

.text-slider2 {
  position: absolute;
  height: 72px;
  right: 7vw;
  top: 14vw;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 1.5vw;
  font-weight: 100;
  display: flex;
  color: white;
  width: 30vw;
  word-wrap: break-word;
  text-align: center;
}

.button-book {
  position: relative;
  left: 10vw;
  bottom: 4vw;
  width: 25vw;
  cursor: pointer;
}

.button-book:hover {
  filter: brightness(0.5);
}


.book-container {
  min-height: 10vw;

}


.container-Cabins {
  height: 32vw;
}

.text-Cabins1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  position: absolute;
  font-style: normal;
  left: 10vw;
  top: 5vw;
  font-weight: 400;
  font-size: 3.2vw;
  line-height: 40px;
  color: #5B6460;
}

.container-text-Cabins {
  position: absolute;
  width: 49.5vw;
  height: 31.7vw;
}

.container-text-Cabins2 {
  position: absolute;
  top: 12vw;
  left: 10vw;
  width: 34vw;
  height: 15vw;
}

.text-Cabins2 {
  position: relative;
  line-height: 2vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #000000;
}

.container-img-Cabins img {
  position: relative;
  width: 100%;
  margin-left: 50vw;
  width: 50vw;
  height: 32vw;
}

.text-read {
  position: absolute;
  text-decoration: none;
  border-bottom: 1.5px solid;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3vw;
  color: #5B6460;
  left: 10vw;
  top: 29vw;
}

.container-between {
  min-height: 10vw;
}

.container-imgs-Cabins {
  min-height: 27vw;
  text-align: center;
}

.img-Cabins1 {
  margin: 0px 15px 0px 15px;
  width: 30vw;
}

.img-Cabins2 {
  margin: 0px 15px 0px 15px;
  width: 30vw;
}

.video-Cabins {
  margin: 0px 15px 0px 15px;
  width: 100%;
  object-fit: cover;
  max-width: 30vw;
  height: 26.9vw;
}

.container-between-2 {
  min-height: 10vw;
}

.container-Forest {
  position: absolute;
  width: 100vw;
  height: 45vw;
}

.container-img-Forest {
  position: absolute;
  height: 45vw;
  width: 50vw;
  overflow: hidden;
}

.Forest-img {
  position: absolute;
  height: 45vw;
  width: 50vw;
}

.container-text-Forest {
  position: absolute;
  left: 49.9vw;
  width: 50vw;
  height: 45vw;
  background-color: #E9ECE0;
}

.text-Forest1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  position: absolute;
  font-style: normal;
  left: 8vw;
  top: 10vw;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #5B6460;
  font-size: 3.2vw;
}

.container-text-Forest2 {
  position: absolute;
  top: 16vw;
  left: 8vw;
  width: 34.2vw;
  height: 18vw;
}

.text-Forest2 {
    position: relative;
    line-height: 2.5vw;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2vw;
    color: #000000;
}

.text-read-Forest {
  position: absolute;
  text-decoration: none;
  font-style: italic;
  border-bottom: 1.5px solid;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3vw;
  color: #5B6460;
  left: 8vw;
  top: 36vw;
}

.container-between-Forest {
  width: 100vw;
  height: 45vw;
}

.container-Facilities {
  height: 70vw;
  background: #5B6460;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.text-Facilities {
  display: flex;
  position: absolute;
  margin-bottom: 45vw;
  font-size: 3vw;
  font-weight: lighter;
}

.container-text-Facility {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Facility-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20vw;
  padding: 5vw;
  padding-left: 10vw;
  width: 65vw;
  height: 40vw;
}

.Facility-text {
  font-weight: 400;
  margin-top: 1vw;
  font-size: 1.11vw;
  align-items: center;
}

.Facility {
  width: 9vw;
  height: 6vw;
  margin-right: 5vw;
}

.container-imgs {
  position: relative;
  display: flex;
  min-height: 40vw;
}

.container-img1 {
  height: 40vw;
  width: 50vw;
}

.container-img2 {
  height: 40vw;
  width: 50vw;
}

.container-button-about {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vw;
  width: 100%;
}

.button-about {
  height: 11vw;
  width: 11vw;
}

.button-about:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.container-stay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 43vw;
}

.stay-in-touch {
  display: flex;
  justify-content: space-between;
  height: 25vw;
  width: 80vw;
}

.container-stay2 {
  position: relative;
  margin-top: 4vw;
}

.stay-text1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;;
  color: #5B6460;
}

.stay-text2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  margin-top: 4vw;
  color: #000000;
}

.stay-text3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  margin-top: 2vw;
  color: #000000;
}

.stay-text4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  margin-top: 0.5vw;
  color: #000000;
}

.container-social {
  height: 4vw;
  width: 18vw;
  margin-top: 4vw;
  display: flex;
  justify-content: space-between;
}

.socials {
  cursor: pointer;
}

.socials:hover {
  filter: brightness(0.5);
}

.stay2-img {
  height: 13vw;
}

.book-a-hut {
  position: absolute;
  height: 9.54vw;
  right: 0vw;
  top: 10vw;
  cursor: pointer;
}

.book-a-hut:hover {
  filter: brightness(0.5);
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35vw;
  background-color: #5B6460;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  height: 20vw;
  width: 80vw;
}

.footer-text1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  color: #FFFFFF;
}

.text-field-input {
  width: 32vw;
  margin-top: 2vw;
  padding: 1vw 0;
  border: 0;
  outline: 0;
  border-radius: 0;
  color: #FFFFFF;
  background-color: #5B6460;
  border-bottom: 1px #FFFFFF solid;
}

.text-field {
  width: 32vw;
}

.text-field-placeholder {
  display: block;
  position: absolute;
  top: 12vw;
  left: 10vw;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.2vw;
  color: #FFFFFF;
  pointer-events: none;
  transform-origin: left;
  transition: top .3s, transform .3s, color .3s;
}

.text-field-input:focus + .text-field-placeholder,
.text-field-input:not(:focus):valid + .text-field-placeholder
{
  top: 10vw;
  transform: scale(.85);
}

.text-field-arrow {
  position: absolute;
  top: 12.5vw;
  left: 40vw;
  height: 1vw;
}

.text-field-arrow:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.container-footer-text2 {
  margin-top: 1vw;
  height: 5vw;
  width: 32vw;
}

.footer-text2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: 100;
  line-height: 2vw;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer-text3 {
  margin-top: 6vw;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: 100;
  line-height: 2vw;
  color: #FFFFFF;
  opacity: 0.7;
}

.container-footer2 {
}

.container-footer2-text {
  display: flex;
  justify-content: space-between;
  height: 2vw;
  width: 35vw;
}

.footer2-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  font-weight: 100;
  line-height: 2vw;
  color: #FFFFFF;
  opacity: 0.7;
}

.container-footer2-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vw;
  height: 3.5vw;
  width: 23vw;
  margin-left: 12vw;
}

.footer2-icon1 {
  height: 4vw;
}

.footer2-icon2 {
  height: 4vw;
}

.footer2-icon3 {
  height: 4vw;
}

.footer2-icon4 {
  height: 3vw;
}



@media (max-width:1080px) {

  .logo-header {
    left: 0px;
    margin-right: 0px;
  }

  .header-button {
    display: none;
  }

  .book-now {
    display: flex;
  }


  .burger {
    display: flex;
  }

  .burger.active::before, .burger.active::after {
    background-color: white;
  }

  .nav a {
    color: white;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
    opacity: 0.95;
  }

  .nav ul {
      flex-direction: column;
      row-gap: 30px;
  }

@media (max-width:1000px) {

  .slider-container {
    height: 70vw;
  }

  .slider img {
    height: 70vw;
  }

  .text-slider {
    right: 4vw;
    top: 5vw;
    font-size: 6vw;
  }

  .text-slider2 {
    right: 7vw;
    top: 14vw;
    font-size: 2.5vw;
    width: 35vw;
  }

  .prev-button,
  .next-button {
    bottom: 9vw;
    width: 6vw;
    height: 6vw;
    font-size: 24px;
    margin-left: 40vw;
    margin-right: 40vw;
  }

  .button-book {
    left: 4vw;
    bottom: 6vw;
    width: 35vw;
  }

  .container-img-Cabins img {
    position: relative;
    margin-left: 2.5vw;
    margin-top: 0s;
    height: 70vw;
    width: 95vw;
    filter: brightness(0.7);
  }

  .container-text-Cabins {
    position: relative;
    width: 100vw;
    height: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-Cabins1 {
    left: 36vw;
    top: 2vw;
    width: 30vw;
    font-size: 5.2vw;
  }

  .container-text-Cabins2 {
    position: relative;
    top: 6vw;
    left: 0vw;
    width: 80vw;
    height: 40vw;
  }

  .text-Cabins2 {
    line-height: 3.7vw;
    font-size: 2.6vw;
  }

  .text-read {
    border-bottom: .2vw solid;
    font-weight: 600;
    font-size: 2.3vw;
    left: 10vw;
    top: 43vw;
  }

  .container-imgs-Cabins {
    margin: 0;
    min-height: 200vw;
    text-align: center;
  }

  .img-Cabins1 {
    width: 95vw;
    margin: 0;
    filter: brightness(0.7);
  }

  .img-Cabins2 {
    width: 95vw;
    margin: 0;
    margin-top: 10vw;
    filter: brightness(0.7);
  }

  .video-Cabins {
    width: 100%;
    margin: 0;
    object-fit: cover;
    max-width: 95vw;
    height: 76.9vw;
    margin-top: 10vw;
    filter: brightness(0.7);
  }

  .container-Forest {
    position: relative;
    width: 100vw;
    min-height: 75vw;
  }

  .container-img-Forest {
    position: relative;
    height: 65vw;
    width: 100vw;
    overflow: hidden;
  }

  .Forest-img {
    position: relative;
    height: 65vw;
    width: 100vw;
  }

  .container-text-Forest {
    position: relative;
    left: 0vw;
    width: 100vw;
    height: 60vw;
  }

  .text-Forest1 {
    left: 8vw;
    top: 10vw;
    font-weight: 400;
    font-size: 5.2vw;
  }

  .container-text-Forest2 {
    top: 20vw;
    left: 8vw;
    width: 85vw;
    height: 18vw;
  }

  .text-Forest2 {
    line-height: 3.7vw;
    font-size: 2.6vw;
  }

  .text-read-Forest {
    border-bottom: .2vw solid;
    font-size: 2.3vw;
    left: 8vw;
    top: 48vw;
  }

  .container-Facilities {
    height: 115vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: white;
  }

  .text-Facilities {
    display: flex;
    position: absolute;
    margin-bottom: 82vw;
    font-size: 5vw;
    font-weight: lighter;
  }

  .container-text-Facility {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .Facility-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 27vw;
    padding: 0;
    padding-left: 5vw;
    width: 80vw;
    height: 80vw;
  }

  .Facility-text {
    margin-top: 2.3vw;
    font-size: 2.5vw;
    align-items: center;
    font-weight: 200;
  }

  .Facility {
    width: 12vw;
    height: 9vw;
    margin-right: 5vw;
  }

  .container-imgs {
    position: relative;
    min-height: 120vw;
  }

  .container-img1 {
    height: 60vw;
    width: 100vw;
    filter: brightness(0.7);
  }

  .container-img2 {
    position: absolute;
    margin-top: 30vw;
    height: 60vw;
    width: 100vw;
    filter: brightness(0.7);
  }

  .container-button-about {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vw;
    width: 100%;
    margin-top: 40vw;
  }

  .button-about {
    height: 30vw;
    width: 30vw;
  }

  .container-stay {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    min-height: 90vw;
  }

  .stay-in-touch {
    display: flex;
    justify-content: center;
    height: 25vw;
    width: 80vw;
  }

  .container-stay1 {
    width: 80vw;
    margin-top: 5vw;
    position: absolute;

  }

  .container-stay2 {
    position: relative;
    margin-top: 47vw;
  }

  .stay-text1 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;;
    color: #5B6460;
  }

  .stay-text2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.8vw;
    margin-top: 4vw;
    color: #000000;
  }

  .stay-text3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.8vw;
    margin-top: 2vw;
    color: #000000;
  }

  .stay-text4 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.8vw;
    margin-top: 0.5vw;
    color: #000000;
  }

  .container-social {
    height: 7vw;
    width: 25vw;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
  }

  .socials {
    cursor: pointer;
  }

  .socials:hover {
    filter: brightness(0.5);
  }

  .stay2-img {
    height: 35vw;
    width: 80vw;
    filter: brightness(0.7);
  }

  .book-a-hut {
    position: absolute;
    height: 15vw;
    top: 20vw;
    bottom: 20vw;
    left: 0vw;
    cursor: pointer;
  }






  .footer {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    min-height: 45vw;
    background-color: #5B6460;
    padding-top: 5vw;
  }

  .container-footer {
    display: flex;
    justify-content: center;
    height: 50vw;
    width: 80vw;
  }

  .container-footer1 {
    position: absolute;
    width: 80vw;
  }

  .container-footer2 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 35vw;
    width: 80vw;
    height: 10vw;
  }

  .footer-text1 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    color: #FFFFFF;
  }

  .text-field-input {
    width: 52vw;
    margin-top: 7.4vw;
    padding: 1vw 0;
    border: 0;
    outline: 0;
    border-radius: 0;
    color: #FFFFFF;
    background-color: #5B6460;
    border-bottom: 1px #FFFFFF solid;
  }

  .text-field {
    width: 52vw;
  }

  .text-field-placeholder {
    display: block;
    position: absolute;
    top: 12vw;
    left: 0vw;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 1.8vw;
    color: #FFFFFF;
    pointer-events: none;
    transform-origin: left;
    transition: top .3s, transform .3s, color .3s;
  }

  .text-field-input:focus + .text-field-placeholder,
  .text-field-input:not(:focus):valid + .text-field-placeholder
  {
    top: 10vw;
    transform: scale(.85);
  }

  .text-field-arrow {
    position: absolute;
    top: 12.5vw;
    left: 49vw;
    height: 1.8vw;
  }

  .text-field-arrow:hover {
    cursor: pointer;
    filter: brightness(0.7);
  }

  .container-footer-text2 {
    margin-top: 4vw;
    height: 5vw;
    width: 42vw;
  }

  .footer-text2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6vw;
    font-weight: 100;
    line-height: 2vw;
    color: #FFFFFF;
    opacity: 0.7;
  }

  .footer-text3 {
    margin-top: 6vw;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6vw;
    font-weight: 100;
    line-height: 2vw;
    color: #FFFFFF;
    opacity: 0.7;
  }

  .container-footer2-text {
    display: flex;
    justify-content: space-between;
    height: 2vw;
    width: 75vw;
    padding-right: 5vw;
    margin-top: 6vw;
  }

  .footer2-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5vw;
    font-weight: 100;
    line-height: 2vw;
    color: #FFFFFF;
    opacity: 0.7;
  }

  .container-footer2-icons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 35vw;
    height: 3.5vw;
    padding-left: 5vw;
    margin-top: 5.5vw;
  }

  .footer2-icon1 {
    height: 4vw;
  }

  .footer2-icon2 {
    height: 4vw;
  }

  .footer2-icon3 {
    height: 4vw;
  }

  .footer2-icon4 {
    height: 3vw;
  }










}



}
